<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-cgi" />
            <add name="php-cgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php74\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
